@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Italianno&family=Outfit:wght@300;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #1A2A33;
  font-family: 'Outfit', sans-serif;
  color:  #A8BFC9;
  text-transform: uppercase;
}

.allOne {
  width: 460px;
  height: 205px;
  border-radius: 15px;
  background: #1F3641;
  box-shadow: 0px -8px 0px 0px #10212A inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px; 
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.pickplayer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #1A2A33;
  margin-top: 15px; 
  width: 310px;
  height: 59px;
}


#x, #o{
  width: 140px;
  height: 54px;
  background-color: #10212A;
}
#x svg:hover,
#o svg:hover {
  background-color: #1A2A33;
  border-radius: 15px;
  width: 140px;
  height: 54px;
  transition: background-color 0.3s ease, border-radius 0.3s ease, width 0.3s ease, height 0.3s ease;
}

#notification {
    display: none;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}

button  {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  border-radius: 10px;

}



#text2{
  color: #A8BFC9;
  text-align: center;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.875px;
  margin-top: 20px; 

}


#cpuGameBtn,
#playerGameBtn {
  margin-top: 20px;
  width: 460px;
  height: 67px;
  border-radius: 15px;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

#playerGameBtn {
  background: #31C3BD;
  box-shadow: 0px -8px 0px 0px #118C87 inset;
}

#playerGameBtn:hover {
  background: #65E9E4; 
  box-shadow: 0px -8px 0px 0px #31C3BD inset; 
}
#cpuGameBtn {
  background: #F2B137;
  box-shadow: 0px -8px 0px 0px #CC8B13 inset;
}
#cpuGameBtn:hover {
  background: #FFE860; 
  box-shadow: 0px -8px 0px 0px #CC8B13 inset; 
}
@media (max-width: 362px) and (max-height: 800px) {
  body {
    display: flex;
    width: 330px;
    height: 450px;
    padding: 119px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .allOne {
    width: 100%; 
    margin-top: 10px; 
  }

  #cpuGameBtn,
  #playerGameBtn {
    width: 100%; 
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablet view styles */
  .allOne {
    width: 70%; 
  }

  #cpuGameBtn,
  #playerGameBtn {
    width: 70%; 
  }

}
